.w-5{
    width: 500px;
}

.w-full{
    width: 100%;
}

mat-card{
    height: auto !important;
}

.onlineAvatar{
    border: 2px solid rgb(53, 164, 92);
    padding: 3px;
    border-radius: 50%;
}

.oflineAvatar{
    border: 2px solid rgb(225, 225, 225);
    padding: 3px;
    border-radius: 50%;
}

#dialogBox {
    width: 500px;
    display: block;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    #close{
        border: none;
        background: transparent;
        outline: none;
        font-weight: 600;
        font-size: 18px;
        color: rgb(163, 163, 163);
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .avatar{
        width: 200px;
        height: 200px;
    }
}

