#messenger{
    width: 100%;
    height: 100%;
    
}

#chatBox{
    width: 80%;
    height: 100%;
    background-color: rgb(255, 247, 247);
}

#chatBoxFull{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 247, 247);
}



#chatSec{
    width: 25%;
    height: 100%;
}

#chatSecFull{
    width: 100%;
    height: 100%;
}
